* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom, #f7b69e, #0b8793, #00223e);
    display: flex;
    flex-direction: column;
    font-family: "Oxygen", sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 10vh;
    width: 100%;
    margin-bottom: 0.5vh;
}

.navbar-wrapper li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 10%;
    text-align: center;
}

.navbar-wrapper li .material-icons-outlined {
    color: #444;
    font-size: 3vw;
}

.navbar-wrapper li.logo-wrapper {
    width: 20%;
}

.navbar-wrapper li.logo-wrapper img {
    width: 80%;
}

.navbar-wrapper li.search-bar {
    width: 50%;
}

.search-bar form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.search-bar form input {
    width: 55%;
    height: 55%;
    border-radius: 1.5vw;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #444;
    font-weight: bolder;
    text-indent: 1vw;
    font-size: 1.2vmax;
    box-shadow: inset 0 0 40px -30px rgb(97, 50, 35);
}

.search-bar form input:focus,
.search-bar form textarea:focus {
    box-shadow: inset 0 0 160px -90px rgb(97, 50, 35);
}

.search-button {
    border: none;
    outline: none;
    background: none;
    padding-right: 3.5vw;
    cursor: pointer;
}

.button {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.button span.border {
    transition: 0.5;
    opacity: 0;
}

.button:hover span.border {
    opacity: 1;
}

.button span.border:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #0b8793);
    animation: outline1 0.5s linear infinite;
}

@keyframes outline1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.button span.border:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #0b8793);
    animation: outline2 0.5s linear infinite;
    animation-delay: 0.25s;
}

@keyframes outline2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.button span.border:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #0b8793);
    animation: outline3 0.5s linear infinite;
    animation-delay: 0.5s;
}

@keyframes outline3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.button span.border:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #0b8793);
    animation: outline4 0.5s linear infinite;
    animation-delay: 0.75s;
}

@keyframes outline4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
    padding: 30px 20px 0 20px;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 0;
}

.toolbar-wrapper {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    width: 100%;
}

.toolbar-wrapper>* {
    text-align: center;
}

.toolbar-wrapper input[type="radio"] {
    opacity: 0;
    width: 0;
}

.toolbar-wrapper label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 1vmax;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: #00223e 2px 5px 10px -2px;
    white-space: wrap;
    overflow: hidden;
    cursor: pointer;
}

.toolbar-wrapper label:hover {
    background-color: rgba(255, 81, 0, 0.2);
}

.toolbar-wrapper input[type="radio"]:checked+label {
    background-color: rgba(255, 81, 0, 0.2);
}

.toolbar-wrapper.left {
    width: 44%;
    justify-content: flex-start;
}

#allReddit {
    margin-left: -5px;
}

#statistics-button {
    margin-left: 5px;
}

.toolbar-wrapper.right {
    width: 44%;
    justify-content: flex-end;
}

.toolbar-wrapper span {
    width: 6%;
    font-size: 3vw;
    text-align: center;
}

.toolbar-wrapper span:hover {
    cursor: pointer;
    box-shadow: #00223e 2px 5px 10px -2px;
}

.panel.left-panel {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.panel.mid-panel {
    width: 50%;
    box-shadow: #00223e 0 8px 10px -2px;
}

.panel.right-panel {
    width: 22%;
    box-shadow: #00223e -2px 8px 10px -2px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.sub-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 49%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #00223e 2px 8px 10px -2px;
    border-radius: 10px;
}

.panel-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: #00223e 2px 5px 10px -2px;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    cursor: default;
}

.panel.left-panel .panel-header {
    writing-mode: vertical-lr;
    width: 20%;
    height: 100%;
}

.panel.right-panel .panel-header {
    height: 5%;
    width: 100%;
}

.panel-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.item-community,
.item-subject {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
    min-height: 20%;
    width: 100%;
    box-shadow: #00223e 0 1px 5px -2px;
    flex-wrap: nowrap;
    cursor: pointer;
}

.item-community h1,
.item-subject h1 {
    font-size: 1.5vmax;
    text-indent: 25px;
    white-space: nowrap;
    text-transform: capitalize;
}

.item-community span,
.item-subject span {
    font-size: 2vmax;
    box-shadow: -1px 0 3px #00223e, 0 1px 3px #00223e, 1px 0 3px #00223e, 0 -1px 3px #00223e;
    border-radius: 50%;
}

.notification-wrapper {
    display: flex;
    flex-direction: row;
    height: 12.5%;
    width: 100%;
    box-shadow: #00223e 0 1px 5px -2px;
    padding: 15px;
    cursor: pointer;
}

.notification-wrapper span {
    font-size: 1.5vmax;
}

.notification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
}

.notification-title {
    font-size: 1.2vmax;
    font-weight: bold;
    height: 20%;
    width: 100%;
    padding-bottom: 25px;
    text-transform: capitalize;
}

.notification-content {
    font-size: 1vmax;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 80%;
}

.notification-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    padding: 0 30px;
    margin-top: 20px;
    height: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: #00223e 2px 8px 10px -2px;
    height: 30%;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
    padding-left: 20px;
}

.post-header span {
    font-size: 2vmax;
}

.post-header h1 {
    font-size: 1.3vmax;
    padding-left: 5px;
}

.post-wrapper h2 {
    text-align: left;
    text-indent: 3vw;
    font-size: 1vmax;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
}

.post-wrapper h3 {
    height: 20%;
    width: 100%;
    margin: 0;
    font-size: 1.4vmax;
    text-align: center;
}

.post-content {
    height: 40%;
    width: 100%;
    align-content: center;
    padding: 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    font-size: 1vmax;
}

.post-content::-webkit-scrollbar {
    display: none;
}

.expand-card {
    text-overflow: ellipsis;
    white-space: normal;
    height: fit-content;
}

.stat-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: #00223e 2px 5px 10px -2px;
    white-space: nowrap;
    overflow: hidden;
}

.stat-label:hover {
    background-color: rgba(255, 81, 0, 0.2);
    cursor: pointer;
}

.dropdown .stat-label {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #acacac;
    border-radius: 5px;
    width: 100%;
    height: 300%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.selection {
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #00223e 0 1px 5px -2px;
}

.selection:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.post.stats {
    height: 90%;
    justify-content: center;
    align-items: center;
}

.post.stats img {
    border-radius: 20px;
    height: 90%;
}