svg {
    background-color: rgba(190, 225, 255, 0.3);
    width: 80%;
    height: 80%;
}

.grid-line {
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.5);
}

.axis {
    stroke-width: 5px;
    stroke: black;
    stroke-linecap: round;
}

.labels {
    font-size: 1vw;
}

.chart-line {
    stroke-width: 10px;
    stroke-linecap: round;
}