<!DOCTYPE html>
<html lang="en-US">
<title>ReDat (Reddit Data Monitor)</title>

<head>
    <link rel="stylesheet" href="../styles/admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <meta charset="UTF-8">
    <meta name="description" content="Reddit Data Monitor">
    <meta name="keywords" content="Reddit, Data, Statistic, Thread, Subreddit">
    <meta name="author" content="Alex Amarandei, Ioana Pelin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
</head>

<body>
    <nav>
        <ul class="navbar-wrapper">
            <li class="logo-wrapper">
                <img src="../images/logo.png" alt="logo" />
            </li>

            <li class="button logout-button" onclick="return logoutUser()">
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="material-icons-outlined">logout</span>
            </li>
        </ul>
    </nav>

    <main>
        <h1>Accounts</h1>
        <div class="accounts-wrapper" id="accounts-wrapper">
            <div class="account-box" onclick="changeAccountView(this)">

                <div class="info-preview">
                    <div class="names">
                        Alex Amarandei
                    </div>
                    <div class="email ">
                        alex@yahoo.com
                    </div>
                </div>



                <div class="all-info" style="display:none">


                    <div class="top">

                        <div class="field">
                            <div class="label">
                                User ID:
                            </div>
                            <div class="value">
                                asdfghjklqwertyuiop
                            </div>
                        </div>

                        <div class="delete-button">
                            <span class="material-icons-outlined" onclick="event.stopPropagation(); deleteAccount(this)">delete</span>
                        </div>

                    </div>


                    <div class="confirmation" style="display:none">
                        <div class="question">
                            Are you sure you want to delete this account?
                        </div>

                        <div class="button-wrapper">
                            <div class="button-yes" onclick="event.stopPropagation(); 
                            confirmDeleteAccount(this)">
                                Yes
                            </div>

                            <div class="button-no" onclick="event.stopPropagation(); 
                            infirmDeleteAccount(this)">
                                No
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <div class="label">
                            First Name:
                        </div>
                        <div class="value">
                            Ioana
                        </div>
                    </div>

                    <div class="field">
                        <div class="label">
                            Last Name:
                        </div>
                        <div class="value">
                            Pelin
                        </div>
                    </div>

                    <div class="field">
                        <div class="label">
                            Username:
                        </div>
                        <div class="value">
                            ioanapelinn
                        </div>
                    </div>

                    <div class="field">
                        <div class="label">
                            Email:
                        </div>
                        <div class="value">
                            ioanapelin0@gmail.com
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </main>

    <script src="../controllers/admin.js "></script>
</body>