<!DOCTYPE html>
<html lang="en-US">
<title>ReDat (Reddit Data Monitor)</title>

<head>
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/stats.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="description" content="Reddit Data Monitor">
    <meta name="keywords" content="Reddit, Data, Statistic, Thread, Subreddit">
    <meta name="author" content="Alex Amarandei, Ioana Pelin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../controllers/dashboard.js"></script>
    <script src="../controllers/stats.js"></script>
    <script src="../controllers/svg-export.min.js"></script>
    <script src="../controllers/utils.js"></script>


</head>

<body>
    <nav>
        <ul class="navbar-wrapper">
            <li class="logo-wrapper">
                <img src="../images/logo.png" alt="logo" />
            </li>
            <li class="search-bar">
                <form name="search-form" action="#" onSubmit="return false;">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="button" class="search-button" onclick="return searchOnReddit()">
                        <span class="material-icons-outlined">search</span>
                    </button>
                </form>
            </li>

            <li class="button account-button" onclick="location.href='account.html'">
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="material-icons-outlined">account_circle</span>
            </li>

            <li class="button about-button" onclick="location.href='about.html'">
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="material-icons-outlined">help_outline</span>
            </li>

            <li class="button logout-button" onclick="return logoutUser()">
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="border"></span>
                <span class="material-icons-outlined">logout</span>
            </li>
        </ul>
    </nav>

    <main>
        <div class="panel left-panel">
            <div class="sub-panel">
                <div class="panel-header">Your Communities</div>
                <div class="panel-content" id="communities-list">
                    <div class="dashboard-loader" id="loader">/</div>
                </div>
            </div>

            <div class="sub-panel">
                <div class="panel-header">Popular Subjects</div>
                <div class="panel-content" id="subjects-list">
                    <div class="dashboard-loader" id="loader">/</div>
                    <div class="item-subject" onclick="return showPostsBySubject(this, 'Gaming')">
                        <span class="material-icons-outlined">category</span>
                        <h1>Gaming</h1>
                    </div>

                    <div class="item-subject" onclick="return showPostsBySubject(this,'Sports')">
                        <span class="material-icons-outlined">category</span>
                        <h1>Sports</h1>
                    </div>

                    <div class="item-subject" onclick="return showPostsBySubject(this, 'TV')">
                        <span class="material-icons-outlined">category</span>
                        <h1>TV</h1>
                    </div>

                    <div class="item-subject" onclick="return showPostsBySubject(this, 'Travel')">
                        <span class="material-icons-outlined">category</span>
                        <h1>Travel</h1>
                    </div>

                    <div class="item-subject" onclick="return showPostsBySubject(this, 'Fitness')">
                        <span class="material-icons-outlined">category</span>
                        <h1>Fitness</h1>
                    </div>

                    <div class="item-subject">
                        <span class="material-icons-outlined">category</span>
                        <h1>Fashion</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-loader" id="loader"></div>


        <div class="panel mid-panel" id="mid-panel">

            <div class="toolbar-wrapper">
                <div id="post-toolbar-left" class="toolbar-wrapper left">
                    <input type="radio" id="allReddit" name="communities" value="all">
                    <label for="allReddit" onclick="return loadPostsByFilters('all', localStorage.getItem('filter'))">All Communities</label>

                    <input type="radio" id="yourCommunities" name="communities" value="favorite" checked>
                    <label for="yourCommunities" onclick="return loadPostsByFilters('your', localStorage.getItem('filter'))">Your Communities</label>
                </div>

                <div id="stats-toolbar-left" class="toolbar-wrapper left" style="justify-content:space-between;padding-right:5px;display:none;">
                    <div class="dropdown">
                        <div class="stat-label export-button" style="font-size: 1.5vmax; font-weight: bold">Export</div>
                        <div class="dropdown-content">
                            <div class="selection" id="SVG" onclick="exportSVG()">SVG</div>
                            <div class="selection" id="CSV" onclick="exportToCSV()">CSV</div>
                        </div>
                    </div>


                    <div class="dropdown">
                        <div class="stat-label drop-button">Action</div>
                        <div class="dropdown-content">
                            <div class="selection" id="comments" onclick="return selectAction('comments')">Comments</div>
                            <div class="selection" id="submissions" onclick="return selectAction('submissions')">Submissions</div>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="stat-label drop-button">Interval</div>
                        <div class="dropdown-content">
                            <div class="selection" style="height: 33.3%;" id="minutes" onclick="return selectInterval('minutes')">1 hour</div>
                            <div class="selection" style="height: 33.3%;" id="hours" onclick="return selectInterval('hours')">6 hours</div>
                            <div class="selection" style="height: 33.3%;" id="day" onclick="return selectInterval('day')">12 hours</div>
                        </div>
                    </div>
                </div>

                <span onclick="switchMode()" id="statistics-button" class="material-icons-outlined">insert_chart</span>

                <span onclick="switchMode()" id="post-button" class="material-icons-outlined" style="display:none">article</span>

                <div id="post-toolbar-right" class="toolbar-wrapper right">
                    <input type="radio" id="newPosts" name="sortedBy" value="new" checked>
                    <label for="newPosts" onclick="return loadPostsByFilters(localStorage.getItem('communities'), 'new')">New</label>

                    <input type="radio" id="popularPosts" name="sortedBy" value="popular">
                    <label for="popularPosts" onclick="return loadPostsByFilters(localStorage.getItem('communities'), 'hot')">Popular</label>
                </div>

                <div id="stats-toolbar-right" class="toolbar-wrapper right" style="display:none">
                    <input type="radio" id="bar" name="type" value="bar">
                    <label onclick="selectChart('bar-chart')" for="bar">Bar</label>

                    <input type="radio" id="column" name="type" value="column">
                    <label onclick="selectChart('column-chart')" for="column">Column</label>

                    <input type="radio" id="line" name="type" value="line" checked>
                    <label onclick="selectChart('line-chart')" for="line">Line</label>
                </div>
            </div>


            <div id="post-wrapper" class="post-wrapper">
            </div>

            <div id="stats-wrapper" class="post-wrapper" style="display:none;">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="canvas" role="img">
                </svg>
                <button id="generate-button" onclick="generateStats()">Generate Statistics</button>
            </div>
        </div>


    </main>

</body>

</html>